<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GongkDao">
	<select id="queryByPage" resultType="Gongk">
		 select id,name,status,score from cm_gk limit #{start},#{rows}
	</select>
	<select id="queryTotals" resultType="long">
			select count(id) from cm_gk
	</select>
	
	<delete id="delete">
		delete from cm_gk where id=#{id}
	</delete>
	
	<insert id="insert">
      	insert into cm_gk values (#{id},#{name},#{status},#{score})
     </insert>
     
</mapper>
